a {
  color: #f79320 !important;
}

a:hover{
  color:#2c3e50;
}

header.jumbotron {
  background-color: #f79320;
}

header.jumbotron > h1 > a {
  color: white !important;
}

.text-orange {
  color: #f79320 !important;
}

footer {
  padding: 2em 0;
  margin: 3em 0;
  border-top: 1px solid #ddd;
  color: #999;
  text-align: center;
}

.developer-name {
  color: #2c3e50;
}