<footer>
  <div class="container-fluid footer-style">
      <div class="row align-items-center">
          <div class="col-sm">
              <span class="copyright">Copyright &copy; {{ 'now' | date: "%Y" }} <a href="https://devncode.tech">devncode</a></span>
          </div>
          <div class="col-sm">
              <ul class="list-group list-group-horizontal-sm">
                {% for network in site.social %}
                  <li class="list-group-item border-0"><a href="{{ network.url }}"><i class="fa fa-{{ network.title }} fa-2x links-hover"></i></a>
                  </li>
                {% endfor %}
              </ul>
          </div>
      </div>
  </div>
</footer>